---
layout: tatatortdefault
description: Блог Тататорт. Еще больше информации о наших тортах и сладостях в блоге Тататорт
title: Тататорт · Блог
page-title: Список постов по категориям
priority: 0.6
changefreq: weekly
---

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-family-secondary has-text-centered">
        {{page.page-title}}
      </h1>
    </div>
  </div>
</section>


<section class="section">
	<div class="container is-fullhd">
		
		<div class="columns is-multiline is-mobile">
			
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Свадебные торты</h2>
						<ul class="blog-list">
							{% for post in site.categories.wedding %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Детские торты</h2>
						<ul class="blog-list">
							{% for post in site.categories.kid %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Торты для малышей</h2>
						<ul class="blog-list">
							{% for post in site.categories.infant %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Просто торты</h2>
						<ul class="blog-list">
							{% for post in site.categories.nude %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Торты для мужчин</h2>
						<ul class="blog-list">
							{% for post in site.categories.man %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="column is-6-tablet">
						<h2 class="is-family-secondary title is-2 has-text-centered">Кендибар/Сладкий стол</h2>
						<ul class="blog-list">
							{% for post in site.categories.candybar %}
							<li>
								<a href="{{ post.url }}">{{ post.page-title }} - <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time></a>
							</li>
							{% endfor %}
						</ul>
					</div>
		</div>
	</div>
</section>
