---
layout: tatatortdefault
description: Начинки тортов
title: Тататорт · Начинки моих тортов
page-title: Начинки моих тортов
priority: 0.6
changefreq: weekly
carousel: true
lt-images:
  - image-path: /fillings/fruit/fb_jogurt_cherry.jpg
    class: favor
    filling-name: Торт •Йогуртовый с вишней•
    caption: Классический ванильный бисквит, пропитанный сиропом, суфле на основе вишневого йогурта с добавлением целой вишни. Легкий торт с приятной кислинкой.
  - image-path: /fillings/fruit/fb_flamingo.jpg
    class: favor
    filling-name: Торт •Фламинго•
    caption: Классический ванильный бисквит, пропитанный сиропом, малиновое кули, нежный крем на основе сливок, кремчиза и малинового пюре.
  - image-path: /fillings/fruit/fb_jogurt_peach.jpg
    class:
    filling-name: Торт •Йогуртовый с персиком•
    caption: Классический ванильный бисквит, пропитанный сиропом, суфле на основе персикового йогурта с кусочками персика. Лёгкий торт.
  - image-path: /fillings/fruit/fb_tenderness.jpg
    class: favor
    filling-name: Торт •Нежность•
    caption: Классический ванильный бисквит, пропитанный сиропом, сливочно-сметанный крем, свежие или консервированные фрукты, ягоды на выбор (банан, киви, персик, вишня, малина, клубника (сезонно)).
  - image-path: /fillings/fruit/fb_loveis.jpg
    class: 
    filling-name: Торт •Love is•
    caption: Классический ванильный бисквит, пропитанный сиропом, клубничное суфле с прослойкой из карамелизированных бананов. Идеальная парочка.
or-images:
  - image-path: /fillings/original/or_savanna.jpg
    class:
    filling-name: Торт •Саванна•
    caption: Ванильный бисквит с шоколадной крошкойб смородиновое кули и ванильный кремчиз
  - image-path: /fillings/original/or_lovely.jpg
    class:
    filling-name: Торт •Любимый•
    caption: Тонкие песочные коржи, смородина, черный шоколад и карамельный крем.
  - image-path: /fillings/original/or_golden-key.jpg
    class:
    filling-name: Торт •Золотой ключик•
    caption: Ванильный и шоколадный бисквит, крем со сгущенным молоком.
  - image-path: /fillings/original/or_berry_fantasy.jpg
    class: favor
    filling-name: Торт •Ягодная фантазия•
    caption: Легкий бисквит, пропитанный сиропом, ванильный мусс на белом шоколаде, ягодная прослойка, ягодный мусс.
  - image-path: /fillings/original/or_charm.jpg
    class:
    filling-name: Торт •Очарование•
    caption: Ванильный бисквит, пропитанный сиропом, нежное сочетание лимона и черники.
  - image-path: /fillings/original/or_strawberry_kiss.jpg
    class: 
    filling-name: Торт •Клубничный поцелуй•
    caption: Два вида коржей. Классический бисквит, маковый или шоколадный бисквит на выбор, клубничная прослойка, нежный сливочно-заварной крем.
  - image-path: /fillings/original/or_orange_mood.jpg
    class: 
    filling-name: Торт •Оранжевое настроение•
    caption: Интересное сочетание сочного апельсинового бисквита и нежного абрикосового суфле.
  - image-path: /fillings/original/or_dual.jpg
    class: 
    filling-name: Торт •Дуэт•
    caption: Шоколадный бисквит с лимонной цедрой, лимонное суфле, суфле •молочный шоколад•. Изумительное сочетание нежной лимонной кислинки и вкуса молочного шоколада.
  - image-path: /fillings/original/or_honey_tropic.jpg
    class: favor
    filling-name: Торт •Медовая тропиканка•
    caption: Тонкие медовые коржи, сливочно-сметанный крем, бананы, персик, вишня. Очень интересное сочетание фруктов и медовых коржей, с нежной фруктовой ноткой.
  - image-path: /fillings/original/or_honey_cherry.jpg
    class: 
    filling-name: Торт •Медовик с вишней•
    caption: Классический ванильный бисквит, пропитанный сиропом, клубничное суфле с прослойкой из карамелизированных бананов. Идеальная парочка.
  - image-path: /fillings/original/or_dark_berries.jpg
    class: 
    filling-name: Торт •Dark berries•
    caption: Шоколадный бисквит, крем на основе темного шоколада, прослойка кули из ягод и ягодный мусс.
ch-images:
  - image-path: /fillings/choc/ch_mulatto.jpg
    class:
    filling-name: Торт •Мулатка•
    caption: Шоколадный бисквит, абрикосовый слой, мусс из молочного шоколада.
  - image-path: /fillings/choc/ch_prague.jpg
    class:
    filling-name: Торт •Прага•
    caption: Шоколадный бисквит, масляный крем с добавлением шоколада и рома(по желанию).
  - image-path: /fillings/choc/ch_truffel.jpg
    class: favor
    filling-name: Торт •Трюфельный с малиной•
    caption: Шоколадные коржи, пропитанные сиропом, шоколадный ганаш, малиновая прослойка.
  - image-path: /fillings/choc/ch_choc-cherry.jpg
    class: favor
    filling-name: Торт •Шоколадные вишенки•
    caption: Шоколадные коржи, шоколадный крем на основе сливок и кремчиза, прослойка с вишнями.
#  - image-path: /fillings/cakelogo.png
#    class:
#    filling-name: Торт •Спартак•
#    caption: Тонкие шоколадные медовые коржи, заварной лимонный крем. Очень вкусное сочетание шоколада и лимона.
  - image-path: /fillings/choc/ch_triple.jpg
    class: 
    filling-name: Торт •Три шоколада•
    caption: Шоколадный бисквит, три вида суфле. Темный, молочный и белый шоколад.
  - image-path: /fillings/choc/ch_blackforest.jpg
    class: favor
    filling-name: Торт •Черный лес•
    caption: Шоколадный бисквит, пропитанный вишневым сиропом, взбитые сливки со сметаной, вишня. Насыщенный шоколадный вкус идеально сочетается с вишневой кислинкой.
nut-images:
  - image-path: /fillings/nut/nut_orehovyi.jpg
    class:
    filling-name: Торт •Ореховый со сгущенным молоком•
    caption: Классический бисквит, пропитанный ванильным сиропом, крем на основе вареной сгущенки с добавлением обжаренных грецких орехов.
  - image-path: /fillings/nut/nut_nutlet.jpg
    class:
    filling-name: Торт •Орешек•
    caption: Классический бисквит, пропитанный ванильным сиропом, крем на основе вареной сгущенки с добавлением обжаренных грецких орехов.
  - image-path: /fillings/nut/nut_elvin.jpg
    class: favor
    filling-name: Торт •Элвин•
    caption: Ароматный арахисовый бисквит, пропитанный сиропом, ганаш из молочного шоколада, кофейный кремчиз с белым шоколадом сливочно-заварной крем с добавлением кофе.
  - image-path: /fillings/nut/nut_chocolate.jpg
    class:
    filling-name: Торт •Шоколадно-ореховый•
    caption: Шоколадный бисквит с грецким орехом, пропитанный сиропом, сливочно-масляный крем с вареной сгущенкой, орехи.
  - image-path: /fillings/nut/nut_snikers.jpg
    class: 
    filling-name: Торт •Сникерс•
    caption: Шоколадный бисквит, пропитанный сиропом, масляно–карамельный крем с арахисом, суфле 'белый шоколад'.
#  - image-path: /fillings/nut/nut_yar.jpg
#    class: 
#    filling-name: Торт •Крещатый яр•
#    caption: Песочные коржи с тонким ореховым безе, шоколадные коржи, два вида крема. Вкусный и очень сытный.
  - image-path: /fillings/nut/nut_dolce.jpg
    class: 
    filling-name: Торт •Дольче вита•
    caption: Песочные коржи, ореховый и маковый бисквит, карамельный крем.
---
<article class="text-c">
<div class="padding-wrap">
		<h1>Начинки моих тортов</h1>
	
		<div class="row" id="fruit">
			<div class="container">
				<h2>Легкие начинки с добавлением фруктов и ягод</h2>
			</div>
			<div class="container flex-wrap">
				{% for image in page.lt-images %}
				<figure class="{{image.class}} fill">
					<a class="fancybox" rel="gallery-fillings-lt" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
						{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
					</a>
					<p class="desc">{{ image.filling-name }}</p>
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div class="row" id="original">
			<div class="container">
				<h2>Ориганальные начинки</h2>
			</div>
			<div class="container flex-wrap">
				{% for image in page.or-images %}
				<figure class="{{image.class}} fill">
					<a class="fancybox" rel="gallery-fillings-original" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
						{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
					</a>
					<p class="desc">{{ image.filling-name }}</p>
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div class="row" id="chocolate">
			<div class="container">
				<h2>Шоколадные начинки</h2>
			</div>
			<div class="container flex-wrap">
				{% for image in page.ch-images %}
				<figure class="{{image.class}} fill">
					<a class="fancybox" rel="gallery-fillings-choc" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
						{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
					</a>
					<p class="desc">{{ image.filling-name }}</p>
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div class="row" id="nut">
			<div class="container">
				<h2>С добавлением орехов</h2>
			</div>
			<div class="container flex-wrap">
				{% for image in page.nut-images %}
				<figure class="{{image.class}} fill">
					<a class="fancybox" rel="gallery-fillings-nut" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
						{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
					</a>
					<p class="desc">{{ image.filling-name }}</p>
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
				{% endfor %}
			</div>
		</div>
	</div>
</article>
