---
layout: tatatortdefault
description: Начинки тортов
title: Тататорт · Начинки моих тортов
page-title: Начинки моих тортов
priority: 0.6
changefreq: weekly
carousel: true
lt-images:
  - image-path: /fillings/fruit/fb_jogurt_cherry_upd.jpg
    class: favor
    filling-name: Торт •Йогуртовый с вишней•
    caption: Классический ванильный бисквит, пропитанный сиропом, крем на основе сливок и вишневого йогурта с добавлением целой вишни. Легкий торт с приятной кислинкой.
  - image-path: /fillings/fruit/fb_flamingo.jpg
    class: favor
    filling-name: Торт •Фламинго•
    caption: Классический ванильный бисквит, пропитанный сиропом, малиновое кули, нежный крем на основе сливок, кремчиза и малинового пюре.
  - image-path: /fillings/fruit/fb_jogurt_peach.jpg
    class:
    filling-name: Торт •Йогуртовый с персиком•
    caption: Классический ванильный бисквит, пропитанный сиропом, крем на основе сливок и персикового йогурта с кусочками персика. Лёгкий торт.
  - image-path: /fillings/fruit/fb_tenderness.jpg
    class: favor
    filling-name: Торт •Нежность•
    caption: Классический ванильный бисквит, пропитанный сиропом, сливочно-творожный крем, свежие или консервированные фрукты, ягоды на выбор (банан, киви, персик, вишня, малина, клубника (сезонно)).
  - image-path: /fillings/cakelogo.png
    class: 
    filling-name: Торт •Love is•
    caption: Классический ванильный бисквит, пропитанный сиропом, крем на основе сливок и клубничного пюре, клубничная прослойка, бананы. Идеальная парочка.
  - image-path: /fillings/fruit/fb_yasha.jpg
    class: 
    filling-name: Торт •Яша•
    caption: Шоколадный бисквит, пропитанный сиропом, ягодное кули, ванильный крем на основе сливок, кремчиза, и белого шоколада.
  - image-path: /fillings/fruit/fb_club_lemonade.jpg
    class: 
    filling-name: Торт •Клубничный лимонад•
    caption: Ванильный бисквит, пропитанный сиропом, клубничное кули, клубничный и лимонный крем.
or-images:
  - image-path: /fillings/original/or_savanna.jpg
    class:
    filling-name: Торт •Саванна•
    caption: Ванильный бисквит с шоколадной крошкой, смородиновое кули и ванильный крем на основе сливок, кремчиза, и белого шоколада.
  - image-path: /fillings/original/or_lovely.jpg
    class:
    filling-name: Торт •Любимый•
    caption: Песочные коржи, смородина, шоколадный и карамельный крем.
  - image-path: /fillings/original/or_golden-key.jpg
    class:
    filling-name: Торт •Золотой ключик•
    caption: Ванильный и шоколадный бисквит, пропитанный сиропом, карамельный крем. Вишня и орехи по желаниюю
  - image-path: /fillings/original/or_berry_fantasy.jpg
    class: favor
    filling-name: Торт •Ягодная фантазия•
    caption: Ванильный бисквит, пропитанный сиропом, ванильный мусс на белом шоколаде, ягодная прослойка, ягодный мусс.
  - image-path: /fillings/original/or_charm.jpg
    class:
    filling-name: Торт •Очарование•
    caption: Ванильный бисквит, пропитанный сиропом, нежное сочетание лимона и черники.
  - image-path: /fillings/cakelogo.png
    class: 
    filling-name: Торт •Клубничный поцелуй•
    caption: Классический бисквит, маковый или шоколадный бисквит на выбор, клубничная прослойка, нежный сливочно-заварной крем.
  - image-path: /fillings/original/or_shy_girl_cake.jpg
    class: 
    filling-name: Торт •Укрощение строптивой•
    caption: Ванильный бисквит, пропитанный сиропом, ванильный крем с кусочками темного шоколада, клубничное кули, ванильный чизкейк.
  - image-path: /fillings/original/or_dual.jpg
    class: 
    filling-name: Торт •Дуэт•
    caption: Шоколадный бисквит с лимонной цедрой, лимонное суфле, суфле •молочный шоколад•. Изумительное сочетание нежной лимонной кислинки и вкуса молочного шоколада.
  - image-path: /fillings/original/or_honey_tropic.jpg
    class: favor
    filling-name: Торт •Медовая тропиканка•
    caption: Медовые коржи, сливочно-сметанный крем, бананы, персик, вишня. Очень интересное сочетание фруктов и медовых коржей, с нежной фруктовой ноткой.
  - image-path: /fillings/original/or_honey_cherry.jpg
    class: 
    filling-name: Торт •Медовик с вишней•
    caption: Медовые коржи, сливочно-сметанный крем, и много сочной вишни, обжаренные грецкие орехи по желанию
  - image-path: /fillings/cakelogo.png
    class: 
    filling-name: Торт •Dark berries•
    caption: Шоколадный бисквит, крем на основе темного шоколада, прослойка кули из ягод и ягодный мусс.
  - image-path: /fillings/original/or_s_cherry.jpg
    class: 
    filling-name: Торт •Песочный торт с вишней и орехами•
    caption: Песочные коржи, маслянно-сметанный крем, вишня, обжаренные грецкие орехи.
ch-images:
  - image-path: /fillings/choc/ch_mulatto.jpg
    class:
    filling-name: Торт •Мулатка•
    caption: Шоколадный бисквит, абрикосовый слой, мусс из молочного шоколада.
  - image-path: /fillings/choc/ch_truffel.jpg
    class: favor
    filling-name: Торт •Трюфельный с малиной•
    caption: Шоколадные коржи, пропитанные сиропом, шоколадный ганаш, малиновая прослойка.
  - image-path: /fillings/choc/ch_choc-cherry.jpg
    class: favor
    filling-name: Торт •Шоколадные вишенки•
    caption: Шоколадные коржи, шоколадный крем на основе сливок и кремчиза, прослойка с вишнями.
  - image-path: /fillings/choc/ch_ideal_date.jpg
    class:
    filling-name: Торт •Идеальное свидание•
    caption: Шоколадный бисквит, пропитанный сиропом, клубничное кули, шоколадный крем, клубничный крем.
  - image-path: /fillings/choc/ch_triple.jpg
    class: 
    filling-name: Торт •Три шоколада•
    caption: Шоколадный бисквит, три вида суфле. Темный, молочный и белый шоколад.
  - image-path: /fillings/cakelogo.png
    class: favor
    filling-name: Торт •Черный лес•
    caption: Шоколадный бисквит, пропитанный сиропом, два вида крема - ванильный и шоколадный, которые идеально сочетаются с вишневой кислинкой.
nut-images:
  - image-path: /fillings/nut/nut_orehovyi.jpg
    class:
    filling-name: Торт •Ореховый со сгущенным молоком•
    caption: Ореховый бисквит, пропитанный ванильным сиропом, крем на основе вареной сгущенки с добавлением обжаренных грецких орехов.
  - image-path: /fillings/nut/nut_grand.jpg
    class:
    filling-name: Торт •Бабушкин ореховый•
    caption: Бисквит с грецким орехом, сметанно-масляный крем с добавлением обжаренных грецких орехов.
  - image-path: /fillings/nut/nut_elvin.jpg
    class: favor
    filling-name: Торт •Элвин•
    caption: Ароматный арахисовый бисквит, пропитанный сиропом, ганаш из темного шоколада, кофейный крем с белым шоколадом и кремсыром.
  - image-path: /fillings/nut/nut_chocolate.jpg
    class:
    filling-name: Торт •Шоколадно-ореховый•
    caption: Шоколадный бисквит, пропитанный сиропом, карамельный крем с вареной сгущенкой, орехи.
  - image-path: /fillings/nut/nut_snikers.jpg
    class: 
    filling-name: Торт •Сникерс•
    caption: Шоколадный бисквит, пропитанный сиропом, карамельный слой с жаренным арахисом, мусс с белым шоколадом, мусс с темным шоколадом .
  - image-path: /fillings/nut/nut_dolce.jpg
    class: 
    filling-name: Торт •Дольче вита•
    caption: Ореховый и маковый бисквит, пропитанный сиропом, песочные коржи, карамельный крем.
---


<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-family-secondary has-text-centered">
        Начинки моих тортов
      </h1>
      <h2 class="is-size-6 has-text-centered has-text-weight-bold">
        <a href="#fruit">Легкие начинки с добавлением фруктов и ягод</a> ·
        <a href="#original">Оригинальные начинки</a> ·
        <a href="#chocolate">Шоколадные начинки</a> ·
        <a href="#nut">С добавлением орехов</a>
      </h2>
    </div>
  </div>
</section>


<div class="section" id="fruit">
	<div class="container">
		<div class="columns">
      <div class="column">
        <h2 class="is-family-secondary title is-2 has-text-centered">Легкие начинки с добавлением фруктов и ягод</h2>
      </div>
    </div>
	</div>
	<div class="columns is-multiline is-mobile">
    {% for image in site.data.lt-fillings %}
    <div class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
    <a class="card" rel="gallery-fillings-lt" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
      <div class="card-image">
		<figure class="{{image.class}} image is-1by1">
				{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
		
      </figure>
      </div>
      <div class="card-content">
        <p class="is-size-5 is-size-6-mobile has-text-centered has-text-weight-bold">{{ image.filling-name | remove: 'Торт'}}</p>
        <p class="is-size-6 is-size-7-mobile">{{ image.caption }}</p>
      </div>
    	</a>
    </div>
		{% endfor %}
	</div>
</div>

<div class="section" id="original">
	<div class="container">
		<div class="columns">
      <div class="column">
        <h2 class="is-family-secondary title is-2 has-text-centered">Оригинальные начинки</h2>
      </div>
    </div>
	</div>
	<div class="columns is-multiline is-mobile">
    {% for image in site.data.or-fillings %}
    <div class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
    <a class="card" rel="gallery-fillings-original" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
      <div class="card-image">
		<figure class="{{image.class}} image is-1by1">
				{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
		
      </figure>
      </div>
      <div class="card-content">
        <p class="is-size-5 is-size-6-mobile has-text-centered has-text-weight-bold">{{ image.filling-name | remove: 'Торт'}}</p>
        <p class="is-size-6 is-size-7-mobile">{{ image.caption }}</p>
      </div>
    	</a>
    </div>
		{% endfor %}
	</div>
</div>

<div class="section" id="chocolate">
	<div class="container">
		<div class="columns">
      <div class="column">
        <h2 class="is-family-secondary title is-2 has-text-centered">Шоколадные начинки</h2>
      </div>
    </div>
	</div>
	<div class="columns is-multiline is-mobile">
    {% for image in site.data.ch-fillings %}
    <div class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
    <a class="card" rel="gallery-fillings-choc" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
      <div class="card-image">
		<figure class="{{image.class}} image is-1by1">
				{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
		
      </figure>
      </div>
      <div class="card-content">
        <p class="is-size-5 is-size-6-mobile has-text-centered has-text-weight-bold">{{ image.filling-name | remove: 'Торт'}}</p>
        <p class="is-size-6 is-size-7-mobile">{{ image.caption }}</p>
      </div>
    	</a>
    </div>
		{% endfor %}
	</div>
</div>

<div class="section" id="nut">
	<div class="container">
		<div class="columns">
      <div class="column">
        <h2 class="is-family-secondary title is-2 has-text-centered">С добавлением орехов</h2>
      </div>
    </div>
	</div>
	<div class="columns is-multiline is-mobile">
    {% for image in site.data.nut-fillings %}
    <div class="column is-3-widescreen is-4-desktop is-4-tablet is-6-mobile">
    <a class="card" rel="gallery-fillings-nut" href="/img/cakes{{ image.image-path }}" title="{{ image.title }}">
      <div class="card-image">
		<figure class="{{image.class}} image is-1by1">
				{% picture gal_thumb {{ image.image-path }} alt="{{ image.filling-name }}" %}
		
      </figure>
      </div>
      <div class="card-content">
        <p class="is-size-5 is-size-6-mobile has-text-centered has-text-weight-bold">{{ image.filling-name | remove: 'Торт'}}</p>
        <p class="is-size-6 is-size-7-mobile">{{ image.caption }}</p>
      </div>
    	</a>
    </div>
		{% endfor %}
	</div>
</div>


