<article>
	<div class="padding-wrap">
		<div class="row">
			<div class="container">
				<h1>{{ page.page-title }}</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="container flex-wrap">
				{% for image in page.images reversed %}
				<a class="fancybox" rel="{{ page.category }}" href="{{ site.url }}{{ site.baseurl }}/img/cakes{{ image.image-path }}" title="{{ image.title }}">
					{% picture gal_thumb {{ image.image-path }} alt="{{ image.alt }}" %}
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</article>