<header id="top">
	<div class="row">
	<div class="u-full-width">
		
			<div class="flex-row space-b">
				<div class="fourth">
					<a class="icon" href="tel:+380632498807" title="Телефон 0632498807" alt="phone number">
						<span></span>
						<svg>
							<use xlink:href="#phone" />
						</svg>
					</a>
					<a class="icon" href="mailto:tort@tatatort.com.ua" target="_blank" title="Email" alt="Email address">
						<span></span>
						<svg>
							<use xlink:href="#mail" />
						</svg>
					</a>
				</div>
				<div class="third">
					<a class="logo" href="{{ site.url }}">
						<img src="{{ site.url }}/img/logo.svg" alt="Логотип Тататорт">
					</a>
				</div>
				<div class="fourth">
					<a class="icon u-pull-right" href="https://www.instagram.com/tatatort/" target="_blank" title="instagram" alt="instagram">
						<span></span>
						<svg>
							<use xlink:href="#instagram" />
						</svg>
					</a>
					<a class="icon u-pull-right" href="https://www.facebook.com/Tatatort" target="_blank" title="facebook" alt="facebook">
						<span></span>
						<svg>
							<use xlink:href="#fb" />
						</svg>
					</a>
				</div>
			</div>
	</div>
	</div>
	<div class="row">
		<div class="container">
			<nav>
				<ul class="menu">
					<li><span><a href="">Главная</a></span></li>
					<li><span><a>Торты</a></span>
						<ul class="submenu">
							<li><a href="/wedding-cakes">Свадебные</a></li>
							<li><a href="/kids">Детские</a></li>
							<li><a href="/infants">Малышам до 3-х лет</a></li>
							<li><a href="/corporate">Корпоративные</a></li>
							<li><a href="/celebration">Праздничные</a></li>
							<li><a href="/man">Торты для мужчин</a></li>
							<li><a href="/nude">Торты без мастики</a></li>
							<li><a href="/candybar">Кендибар</a></li>
							<li><a href="/sweets">Маленькие сладости</a></li>
						</ul>
					</li>
					<li><span><a href="/fillings">Начинки</a></span></li>
					<li><span><a href="/blog">Блог</a></span></li>
					<li><span><a href="/contacts">Контакты</a></span></li>
				</ul>
			
			</nav>
				<div class="toggle-menu">
					<span class="bar1"></span>
					<span class="bar2"></span>
					<span class="bar3"></span>
				</div>
		</div>
	</div>
</header>