<nav>
	<ul class="menu">
		<li><a href="{{ site.url }}{{ site.baseurl }}"><span>Главная</span></a></li>
		<li><span>Торты</span>
			<ul class="submenu">
				<li><a href="{{ site.url }}{{ site.baseurl }}/wedding-cakes">Свадебные</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/kids">Детские</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/infants">Малышам до 3-х лет</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/corporate">Корпоративные</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/celebration">Праздничные</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/man">Торты для мужчин</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/nude">Торты без мастики</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/candybar">Кендибар</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/sweets">Маленькие сладости</a></li>
			</ul>
		</li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/fillings"><span>Начинки</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/blog"><span>Блог</span></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/contacts"><span>Контакты</span></a></li>
	</ul>

	<div class="toggle-menu">≡</div>
</nav>