<footer>
	<a href="#top" class="rocket">
		<img src="/img/rocketd.svg" alt="К началу страницы">
	</a>
	

	<div class="padding-wrap">
		<div class="row">
			<div class="container">
				<div class="one-third column">
					<p class="desc">Тататорт</p>
					<p class="desc">Оригинальные торты</p>
				</div>
				<div class="one-third column">
					<div class="row">
						www: <a href="" title="Перейти на сайт" alt="Перейти на сайт">tatatort.com.ua</a>
					</div>
					<div class="row">
						e-mail: <a href="mailto:tort@tatatort.com.ua">tort@tatatort.com.ua</a>
					</div>
					<div class="row">
						<a href="tel:+380632498807">+38(063)249 88 07</a>
					</div>
				</div>
				<div class="one-third column">
				  
				</div>
			</div>
		</div>
	</div>
</footer>
