// Our variables
$poiret: 'Poiret One', cursive;
$open: 'Open Sans', sans-serif;

//Trial color scheme 

$basic: #53d8b9;
$basic-grad: rgba(83, 216, 185, 0.3);
$light: #c2fdf7;
$dark: #401c06;
$active: #C09FC0;
$text: #3c3c3c;
$lav: #da98e5;
$lav-grad: rgba(218, 152, 229, 0.3);
$yel: #E4D9F5;
$yel-grad: rgba(228, 217, 245, 0.3);

//Devices widths
$skeleton-mobile: 320px;
$skeleton-ls: 768px;
$skeleton-bp: 1024px;
$skeleton-container: 1200px;
