---
permalink: /new-layout/
---
<!DOCTYPE html>
<html lang="en" >
  {% include global/head.html %}
  <body class="has-navbar-fixed-top">
    {% include global/navigation.html %}
    <section class="section">
      <div class="container is-fullhd">
        <div class="columns is-vcentered">
          <div class="column is-5-desktop is-6-tablet content">
            <h1 class="title is-1 is-family-secondary">Тататорт</h1>
            <p class="subtitle is-7">Оригинальные торты на заказ в Киеве</p>
            <p class="">Друзья, этот сайт посвящен моему сладкому хобби.
               Здесь каждый сможет найти торты для себя:
              </p>
              <p>
                <!-- <a href="/wedding-cakes/">свадебные торты</a>, <a href="/kids/">детские торты</a>, <a href="/celebration/">праздничные торты</a>, <a href="/corporate/">корпоративные торты</a>. -->
                 <strong>Оригинальный дизайн, вкусная начинка, позитивные эмоции – это все Тататорт!</strong>
              </p>
            
            <p class="">Заказать торт или кендибар.</p>

            <div class="field is-grouped">
              <p class="control">
                <button class="button is-primary is-outlined">
                  Написать нам
                </button>
              </p>
             
              <p class="control">
                <a class="button is-primary" href="tel:+380632498807" title="Позвоните нам!" alt="+380632498807">
                  Позвоните нам
                </a>
              </p>
            </div>

            <p class="is-size-7">
              Ответы на часто задаваемые вопросы при заказе торта <a href class="faq-open">здесь</a>.
            </p>
            
          </div>
          <div class="column is-6-tablet is-offset-1-desktop">
            {% assign cakes = site.data.global-navigation[1].items %}
           
            <div class="columns is-multiline is-mobile">
              {% for cake in cakes %}
              <a href="{{ cake.url }}" class="column is-one-third-tablet is-half-mobile is-relative">
                <figure class="image is-1by1">
                  <img src="/img/cakes/{{ cake.image }}">
                  
                  <div class="is-overlay columns is-centered">
                    <div class="column">
                      <h3 class="has-text-centered has-text-white title is-size-4-widescreen is-size-5 has-text-weight-bold is-family-secondary "><small class="has-background-primary">{{ cake.name }}</small></h3>
                    </div>
                  </div>
                
                </figure>
              </a>
              {% endfor %}
              <a href="/fillings/" class="column is-one-third-tablet is-half-mobile is-relative is-hidden-tablet">
                <figure class="image is-1by1">
                  <img src="/img/cakes/fillings/fruit/fb_jogurt_cherry_upd.jpg">
                  
                  <div class="is-overlay columns is-centered">
                    <div class="column">
                      <h3 class="has-text-centered has-text-white title is-size-4-widescreen is-size-5 has-text-weight-bold is-family-secondary "><small class="has-background-primary">Начинки</small></h3>
                    </div>
                  </div>
                
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container is-fullhd">
        <h2 class="title is-2 has-text-centered">Начинки моих тортов</h2>

        <div class="columns is-multiline">
          {% for item in site.data.fillings %}
          <div class="column is-3-desktop is-6">
            <a class="card" href="{{ item.url }}">
              <div class="card-image">
                <figure class="image is-1by1">
                  <img src="{{ item.image }}" alt="{{ item.name }}" style="object-fit: cover;">
                  <div class="is-overlay columns is-centered">
                    <div class="column">
                      <h3 class="has-text-centered has-text-white title is-size-4-widescreen is-size-5 has-text-weight-bold is-family-secondary "><small class="has-background-primary">{{ item.name }}</small></h3>
                    </div>
                  </div>
                </figure>
              </div>
             
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="content has-text-centered">  
          <a href="/fillings/" class="button is-primary is-large">Все начинки</a>
        </div>
      </div>
    </section>

    <section class="section">
      
        <h2 class="title is-2 has-text-centered">Тататорт Блог</h2>


      <div class="container is-fullhd">
        <div class="tile is-ancestor">
          {% for post in site.posts limit:4 %}
          <div class="tile is-parent">
            <article class="tile is-child card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="/{{ post.image-thumb-path }}" alt="{{ post.page-title }}" style="object-fit: cover;">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-5-desktop is-6">{{ post.page-title }}</p>
                <div class="field is-grouped">
                  <p class="control">
                    <a href="{{ post.url }}" class="button is-primary">Читать</a> 
                  </p>
                  <p class="control">
                    <time datetime='{{ post.date |  date: "%Y-%m-%d" }}'>{{ post.date |  date: "%-d/%m/%Y" }}</time>
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>

      
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <p>Больше информации и новостей на странице нашего <a href="/blog/">Блога</a></p>
          </div>
        </div>
      </div>
    
    
    </section>


      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body content">
            <h3>Ответы на вопросы, которые часто задают при заказе торта</h3>
            <p class="desc"><b>1. Можно заказать торт на завтра?</b></p>
            <p>— Заказы принимаются минимум за три дня до даты интересующей Вас даты. Также капкейки, пряники и макарон. </p>
        
            <p class="desc">2. Что такое “интересующая Вас дата”?</p>
            <p>— Это день, когда Вы хотите забрать заказ. Заказ будет в этот день, не раньше и не позже.</p>
        
            <p class="desc">3. Можно ли поменять дату заказа?</p>
            <p>— Да, только предупредить мастера об этом необходимо минимум за три дня до даты, оговоренной ранее.</p>
        
            <p class="desc">4. Как определить вес торта для заказа?</p>
            <p>— Обычно торт заказывают торт из расчета 150 - 200 грамм на человека. Речь идет о торте с минимальным количеством декора. Если же Ваш декор предполагает большой объем мастики и другого материала, то это необходимо учесть при расчете общего веса.</p>
        
            <p class="desc">5. Какую начинку выбрать? Что посоветуете? А это вкусно?</p>
            <p>— Друзья, в перечне представлены все начинки, которые проработаны и опробованы мной, моей семьей, заказчиками. Каждая из них вкусная по-своему. Какие-то более универсальны, какие-то рассчитаны на определенные вкусовые пристрастия. Ознакомьтесь с нашим перечнем, перейдя по ссылке и при заказе обязательно озвучьте свои предпочтения. Если ничего не подойдет именно Вам, то мы что-то придумаем :) Для многоярусных тортов, в качестве начинок нижних ярусов оптимально выбрать более плотную начинку.</p>
        
            <p class="desc">6. С начинкой определились, а что снаружи?</p>
            <p>— Варианты покрытия торта: крем, мастика, глазурь. Возможны различные цветовые решения. Креатив приветствуется. Стоит помнить, что торт это еда, а яркого цвета можно добиться лишь большим количеством красителя. Красители мы используем качественные, поэтому варианты окраски “соком свеклы и моркови” не предлагать ))) Как вариант, для покрытия торта может быть использован крем, с добавлением натурального ягодного пюре, но тогда спектр цвета для Вашего торта будет ограничен. Декор торта обсуждается в индивидуальном порядке. Вы можете выбрать торт на нашем сайте, найти идею в интернете или же рассказать чего хотите именно Вы. Креатив приветствуется )))</p>
        
            <p class="desc">7. Как будет упакован торт?</p>
            <p>— Торт вы получаете на подложке в удобной коробке. Если торт превышает габариты доступных коробок (максимальные размеры В*Д*Ш = 45*45*45 см), упаковка по ситуации.</p>
        
            <p class="desc">8. Есть ли доставка?</p>
            <p> — На данный момент только Самовывоз.</p>
        
            <p class="desc">9. Как хранить торт?</p>
            <p>— Торт хранить в холодильнике. При температуре от +2 до +8. Вариант “да что с ним за ночь на балконе случится” мы не рассматриваем и Вам не рекомендуем. Торт - это украшение Вашего праздника, найдите ему достойное место для хранения перед подачей )))</p>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
      </div>

      {% include global/footer.html %}


      <script>
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

        });
      </script>
  </body>
</html>