---
layout: tatatortdefault
---

<article>
	<div class="padding-wrap">
		<div class="container">
			<div class="row">
				<p class="desc">
					<a href="{{ site.url }}{{ site.baseurl }}/blog">К списку постов</a>
				</p>
			</div>
		</div>
			<div class="container">
				<h1>{{ page.page-title }}</h1>
			</div>
			<div class="row">
				<div class="container">
					<div class="four columns">
						<img src="{{ site.url }}{{ site.baseurl }}/{{ page.image-path }}" alt="{{ page.page-title }}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">{{ content }}</div>
			</div>
			<div class="row">
				<div class="container">
					<a href="{{ site.url }}{{ site.baseurl }}/blog">Больше тортов на странице блога</a>
				</div>
			</div>
		</div>
</article>